@model HospitalProjectNorthYork.Models.ViewModels.LocationDetails
@{
    ViewBag.Title = "Details";
}

<a href="/Location/List">Go back to List</a>
<h2>@Model.LocaitonName</h2> 
<h3>@Model.LocationDesc</h3>

